


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #733;
    color: #dff;
    text-align: center;
    padding: 1em 0;
}

main {
   display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    margin: 20px;
    background: url('8711551.jpg') center center/cover fixed; /* Add the background image */
    padding: 20px; 
    position: relative;  
}

#image-container, #image-containera {
    text-align: left;
    margin-bottom: 20px;
}

#description {
    text-align: left;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgba(455, 455, 455, 0.8); /* Optional: Add a background color to the description box */
}

#description p {
    margin: 0;
}


#description2 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 1500px;
    padding: 20px;
    position: right-middle;
    background-color: #36046d; /* Optional: Add a background color to the description box */
}

#description2 p {
    margin: 0;
    color:#65fe08;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ddd; /* Optional: Add border to the images */
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    margin-top: 5px;
}
